

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    min-height: 100vh;
}

.navbar {
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    color: #000;
    padding: 10px;
    font-size: 1.1rem;
}

.navbar-brand {
    color: #000;
    font-weight: bold;
}

.navbar-brand:hover {
    color: #0079FF;
}

#navbarNav {
    justify-content: center;
    align-items: center;
}

.navbar-nav .nav-item {
    margin-right: 10px;
}

.navbar-nav .nav-link {
    color: #000;
    margin-right: 10px;
}

.navbar-nav .nav-link:hover {
    color: #0079FF;
    cursor: pointer;
}

.navbar-toggler {
    border: none;
    color: #000;
}

.dropdown-item {
    color: #000;
}

.dropdown-item:hover {
    color: #0079FF;
}



footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black; 
 
}
/* Estilos para los botones */
.btn {
    background-color: #0079FF; /* Color de fondo para los botones */
    color: #fff; /* Color de texto para los botones */
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
}

/* Estilos para los botones cuando están en estado hover */
.btn:hover {
    background-color: #0056b3; /* Cambia el color de fondo cuando se pasa el mouse */
    color: #fff; /* Cambia el color de texto cuando se pasa el mouse */
}
