@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    /* ===== Colores definidos ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #305da8;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    /* ====== Transiciones definidas ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body {
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

::selection {
    background-color: var(--primary-color);
    color: #fff;
}

body.dark {
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}

/* ===== Menu o barra lateral ===== */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
}

.sidebar.close {
    width: 88px;
}

/* ===== Codigo reutilizable ===== */
.sidebar li {
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon {
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text {
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close .text {
    opacity: 0;
}

/* =========================== */

.sidebar header {
    position: relative;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
}

.sidebar header .logo-text {
    display: flex;
    flex-direction: column;
}

header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession {
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img {
    width: 40px;
    border-radius: 6px;
}

.sidebar header .toggle {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle {
    color: var(--text-color);
}

.sidebar.close .toggle {
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu {
    margin-top: 40px;
}

.sidebar li.search-box {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar li.search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}

.sidebar li a {
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover {
    background-color: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
    color: var(--text-color);
}

.sidebar .menu-bar {
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}

.menu-bar::-webkit-scrollbar {
    display: none;
}

.sidebar .menu-bar .mode {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon {
    height: 50px;
    width: 60px;
}

.mode .sun-moon i {
    position: absolute;
}

.mode .sun-moon i.sun {
    opacity: 0;
}

body.dark .mode .sun-moon i.sun {
    opacity: 1;
}

body.dark .mode .sun-moon i.moon {
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch {
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}

.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before {
    left: 20px;
}

.home {
    position: absolute;
    top: 0;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}

.home .text {
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

.home .text,
.home .form-box {
    color: var(--text-color);
    padding: 12px 60px;
}

.sidebar.close~.home {
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}

body.dark .home .text {
    color: var(--text-color);
}

.form-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(96, 96, 96, 0.462);
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
}

.form-box-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(96, 96, 96, 0.462);
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
}

.form-box-3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(96, 96, 96, 0.462);
}

.form-value {
    padding: 20px;
    color: #000;
}

h3 {
    font-size: 1.3em;
    color: #000;
    text-align: center;
    font-family: 'Manrope', sans-serif;
}

p {
    font-size: 1em;
    color: #000;
    text-align: center;
    padding: 5px;
    font-family: 'Manrope', sans-serif;
}

.no-arrows::-webkit-inner-spin-button,
.no-arrows::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.no-arrows {
    -moz-appearance: textfield;
}


.inputbox {
    position: relative;
    margin: 15px 10px;
    width: 270px;
}

.inputbox label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #000;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}

input:focus~label,
input:valid~label {
    top: -10px;
    font-size: 0.9em;
}

.form-box input[type="number"] {
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ced4da;
    border-radius: 15px;
}

.form-box input[type="search"] {
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ced4da;
    border-radius: 15px;
}

.form-box input[type="number"] {
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ced4da;
    border-radius: 15px;
}

select {
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding: 7px;
    box-sizing: border-box;
    border: 1px solid #ced4da;
    border-radius: 15px;
}

.form-box select {
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding: 7px;
    box-sizing: border-box;
    border: 1px solid #ced4da;
    border-radius: 15px;
}

.form-box input[type="tel"] {
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ced4da;
    border-radius: 15px;
}

.form-box input[type="email"] {
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ced4da;
    border-radius: 15px;
}

.form-box input[type="text"] {
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ced4da;
    border-radius: 15px;
}

.inputbox ion-icon {
    position: absolute;
    right: 8px;
    color: #000;
    font-size: 1.2em;
    top: 12px;
}

.btns {
    display: flex;
    justify-content: center;
}

.btns a {
    color: #000;
    text-decoration: none;
}

#boton {
    width: 25%;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 15px;
    color: #000;
    border: 2px solid #4CAF50;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#boton-siguiente {
    width: 30%;
    padding: 8px;
    margin-top: 10px;
    color: #000;
    border: 2px solid #4CAF50;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#boton-producto {
    width: 30%;
    padding: 8px;
    margin-bottom: 12px;
    margin-top: 10px;
    color: #000;
    border: 2px solid #4CAF50;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#boton-show-producto {
    width: 30%;
    padding: 8px;
    margin-bottom: 12px;
    margin-top: 10px;
    margin-left: 10px;
    color: #000;
    border: 2px solid #305da8;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#boton-factura {
    width: 30%;
    padding: 8px;
    margin-top: 10px;
    color: #000;
    border: 2px solid #4CAF50;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#boton,
#boton-siguiente:hover {
    color: #fff;
    border: 2px solid transparent;
    background-color: #45a049;
    padding: 8px;
}

#boton-show-producto {
    color: #fff;
    border: 2px solid transparent;
    background-color: #305da8;
    padding: 8px;
}

#boton-producto,
#boton-factura {
    color: #fff;
    border: 2px solid transparent;
    background-color: #45a049;
    padding: 8px;
}

/* ESTILOS PARA LIST-BOX Y TABLE-BOX */
.list-box {
    position: absolute;
    top: 27%;
    left: 65%;
    transform: translate(-50%, -50%);
    background: #212529;
    border: 1px solid #ced4da;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(96, 96, 96, 0.462);
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
    overflow-x: auto;
    color: #fff;
}

.list-box-2 {
    position: absolute;
    top: 27%;
    left: 68%;
    transform: translate(-50%, -50%);
    background: #212529;
    border: 1px solid #ced4da;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(96, 96, 96, 0.462);
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
    overflow-x: auto;
    color: #fff;
}

.list-box-3 {
    position: absolute;
    top: 43%;
    left: 65%;
    transform: translate(-50%, -50%);
    background: #212529;
    border: 1px solid #ced4da;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(96, 96, 96, 0.462);
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
    overflow-x: auto;
    color: #fff;
}

.list-box-4 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
    color: #333;
}

.table-box {
    width: 100%;
    border-collapse: collapse;
}

td,
th {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: var(--primary-color);
    color: #fff;
}

td {
    background-color: #f2f2f2;
}

.description-cell {
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
}

.btns-actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.btns-more-actions {
    display: flex;
}

.btn-edit,
.btn-remove,
.btn-regresar {
    display: inline-block;
}

.btn-options,
.btn-edit,
.btn-remove,
.btn-regresar {
    padding: 8px 12px;
    border: 2px solid transparent;
    border-radius: 15px;
    background-color: transparent;
    cursor: pointer;
    transition: color 0.3s ease;
    margin-right: 14px;
    text-transform: uppercase;
    font-weight: bold;
}

.btn-options,
.btn-edit,
.btn-remove,
.btn-regresar ion-icon {
    font-size: 18px;
    display: flex;
    align-items: center;
    color: #fff;
}

.btn-options {
    background-color: #3498db;
    color: #fff;
}

.btn-edit {
    background-color: #2ecc71;
    color: #fff;
}

.btn-remove {
    background-color: #e74c3c;
    color: #fff;
}

.btn-regresar {
    background-color: #7F27FF;
    color: #fff;
}

.btn-options:hover,
.btn-edit:hover,
.btn-remove:hover,
.btn-regresar:hover {
    opacity: 0.8;
}

.swal2-confirm {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
    width: 120px;
}

.swal2-deny {
    background-color: #f44336;
    color: white;
    border: 1px solid #f44336;
    width: 120px;
}

.input-box-only {
    display: flex;
    justify-content: center;
}

.inputs-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

@media (max-width: 1200px) {
    .list-box-4 {
        width: 90%;
    }

    .table-box {
        font-size: 12px;
    }
}

.more a {
    text-decoration: none;
}

.btn-about {
    margin-left: 115px;
}

.input-container {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.label-style {
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
}

.input-style {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 50%;
    box-sizing: border-box;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.form-grid-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.input-container-2 {
    margin-bottom: 20px;
}

.input-container-3 {
    grid-column: span 1;
}

.last-input {
    grid-column: 2;
}

.label-style {
    font-weight: bold;
    margin-bottom: 5px;
}

.input-style {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.inputs-container-1 {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.input-container-4 {
    flex: 1 1 45%;
}

.label-style-1 {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    color: #000;
}

.input-style-1 {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-select {
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
    .input-container-4 {
        flex: 1 1 100%;
    }
}